<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lacinia ultrices. Nam tempus enim a nibh iaculis a ultricies dolor pharetra. Duis ultricies auctor justo sit amet dignissim. Aliquam semper lacus in diam pretium id iaculis nisl facilisis. Donec sed mi in risus fringilla pulvinar. Ut adipiscing sagittis est, consectetur imperdiet massa eleifend ut. Praesent ac imperdiet enim. Quisque luctus massa non nibh elementum convallis. Quisque vitae augue nec libero blandit vehicula. Vestibulum luctus ante eu purus scelerisque tempor. Mauris euismod metus eu diam pellentesque molestie. Aliquam erat volutpat. Sed non libero ligula. Sed sapien metus, blandit nec vestibulum at, consectetur et est. Sed lacinia justo nulla. Etiam sem mi, malesuada vitae gravida in, adipiscing at urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales, mi a congue convallis, sapien orci feugiat quam, nec rutrum nunc felis sit amet orci. Aenean urna nunc, imperdiet non tincidunt eget, commodo id sem. Mauris tincidunt adipiscing metus, eget euismod neque semper quis. Donec ornare nulla vitae elit mollis a rutrum ipsum elementum. In at rhoncus erat. Sed bibendum aliquet justo quis aliquam. Aliquam vehicula, enim sed suscipit lobortis, est nunc elementum elit, ut cursus risus dolor egestas augue.</p>
  </body>
</html>