!!! 5
html
  head
    meta(charset='utf-8')
    title= site_name + ' | ' + title
    meta(name='description', content='Node Love is another Node.js boilerplate utilizing Express, Jade, Compass, Skeleton, MongoDB, Mocha')
    meta(name='keywords', content='Node.js, Express, Jade, Compass, Skeleton, MongoDB, Mocha, Boilerplate')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    link(href='/apple-touch-icon-xlarge.png' rel='apple-touch-icon-precomposed' sizes='144x144' type='image/png')
    link(href='/apple-touch-icon-large.png' rel='apple-touch-icon-precomposed' sizes='114x114' type='image/png')
    link(href='/apple-touch-icon-medium.png' rel='apple-touch-icon-precomposed' sizes='72x72' type='image/png')
    link(href='/apple-touch-icon.png' rel='apple-touch-icon-precomposed' type='image/png')
    link(href='/apple-touch-icon.png' rel='shortcut icon')
    link(href='/favicon.png' rel='shortcut icon' type='image/png')
    link(href='/favicon.ico' rel='shortcut icon' type='image/x-icon')

    link(rel='stylesheet', media='screen, projection', href='/stylesheets/screen.css', type='text/css')
    link(rel='stylesheet', media='print', href='/stylesheets/print.css', type='text/css')

    script(src='/javascripts/vendor/modernizr.js')

    //if IE
      link(href='stylesheets/ie.css', media='screen, projection', rel='/stylesheet', type='text/css')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  body(class=slug)
    .container
      header.row
        .logo.five.columns
          a(href='/')
            i(class='icon-heart')
            = 'node(love)'
            span.superscript beta
        nav#primary-navigation
          ul.eleven.columns.pull-right.text-right
            li.download
              a.external(href='https://github.com/klanoma/node-love', target='_blank')
                i(class='icon-github-alt')
                span Download

      section#content-wrapper

      footer.row.sixteen.columns.pull-right.text-right
        p
          &copy; #{new Date().getFullYear()}&nbsp;
          a(href="http://www.williamyoumans.com", target="_blank") William Youmans

    script(src='/javascripts/vendor/jquery-1.8.3.min.js')
    script(src='/javascripts/compiled/bundle.js')
    script var _gaq = _gaq || []; _gaq.push(['_setAccount', '#{ga_tracking_code}']); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
