!!! 5
html
  head
    title= title
    link(rel='stylesheet', media='screen, projection', href='/stylesheets/screen.css')
    link(rel='stylesheet', media='print', href='/stylesheets/print.css')
    //if IE
      link(href='/stylesheets/ie.css', media='screen, projection', rel='stylesheet', type='text/css')
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/about') About
        li
          a(href='/contact') Contact

    block content