/* @import "compass/reset"; */
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
================================================== #Reset & Basics #Basic Styles #Site Styles #Typography #Links #Lists #Images #Buttons #Forms #Misc */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* #Basic Styles
================================================== */
body { background: #fff; font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #444; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 { color: #181818; font-family: "Georgia", "Times New Roman", serif; font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px; }

h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }

h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }

h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }

h5 { font-size: 17px; line-height: 24px; }

h6 { font-size: 14px; line-height: 21px; }

.subheader { color: #777; }

p { margin: 0 0 20px 0; }

p img { margin: 0; }

p.lead { font-size: 21px; line-height: 27px; color: #777; }

em { font-style: italic; }

strong { font-weight: bold; color: #333; }

small { font-size: 80%; }

/*  Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }

blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }

blockquote cite { display: block; font-size: 12px; color: #555; }

blockquote cite:before { content: "\2014 \0020"; }

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* #Links
================================================== */
a, a:visited { color: #333; text-decoration: underline; outline: 0; }

a:hover, a:focus { color: #000; }

p a, p a:visited { line-height: inherit; }

/* #Lists
================================================== */
ul, ol { margin-bottom: 20px; }

ul { list-style: none outside; }

ol { list-style: decimal; }

ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }

ul.square { list-style: square outside; }

ul.circle { list-style: circle outside; }

ul.disc { list-style: disc outside; }

ul ul, ul ol, ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%; }

ul ul li, ul ol li, ol ol li, ol ul li { margin-bottom: 6px; }

li { line-height: 18px; margin-bottom: 12px; }

ul.large li { line-height: 21px; }

li p { line-height: 21px; }

/* #Images
================================================== */
img.scale-with-grid { max-width: 100%; height: auto; }

/* #Buttons
================================================== */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { background: #eee; /* Old browsers */ background: #eeeeee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* FF3.6+ */ background: #eeeeee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))); /* Chrome,Safari4+ */ background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* Chrome10+,Safari5.1+ */ background: #eeeeee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* Opera11.10+ */ background: #eeeeee -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* IE10+ */ background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* W3C */ border: 1px solid #aaa; border-top: 1px solid #ccc; border-left: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #444; display: inline-block; font-size: 11px; font-weight: bold; text-decoration: none; text-shadow: 0 1px rgba(255, 255, 255, 0.75); cursor: pointer; margin-bottom: 20px; line-height: normal; padding: 8px 10px; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { color: #222; background: #ddd; /* Old browsers */ background: #dddddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* FF3.6+ */ background: #dddddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))); /* Chrome,Safari4+ */ background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* Chrome10+,Safari5.1+ */ background: #dddddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* Opera11.10+ */ background: #dddddd -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* IE10+ */ background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* W3C */ border: 1px solid #888; border-top: 1px solid #aaa; border-left: 1px solid #aaa; }

.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { border: 1px solid #666; background: #ccc; /* Old browsers */ background: #cccccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* FF3.6+ */ background: #cccccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4))); /* Chrome,Safari4+ */ background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* Chrome10+,Safari5.1+ */ background: #cccccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* Opera11.10+ */ background: #cccccc -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* IE10+ */ background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* W3C */ }

.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width { width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* #Forms
================================================== */
form { margin-bottom: 20px; }

fieldset { margin-bottom: 20px; }

input[type="text"], input[type="password"], input[type="email"], textarea, select { border: 1px solid #ccc; padding: 6px 4px; outline: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #777; margin: 0; width: 210px; max-width: 100%; display: block; margin-bottom: 20px; background: #fff; }

select { padding: 0; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus { border: 1px solid #aaa; color: #444; -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

textarea { min-height: 60px; }

label, legend { display: block; font-weight: bold; font-size: 13px; }

select { width: 220px; }

input[type="checkbox"] { display: inline; }

label span, legend span { font-weight: normal; font-size: 13px; color: #444; }

/* #Misc
================================================== */
.remove-bottom { margin-bottom: 0 !important; }

.half-bottom { margin-bottom: 10px !important; }

.add-bottom { margin-bottom: 20px !important; }

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
================================================== #Base 960 Grid #Tablet (Portrait) #Mobile (Portrait) #Mobile (Landscape) #Clearing */
/* #Base 960 Grid
================================================== */
.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }

.container .column, .container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }

.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha { margin-left: 0; }

.column.omega, .columns.omega { margin-right: 0; }

/* Base Grid */
.container .one.column, .container .one.columns { width: 40px; }

.container .two.columns { width: 100px; }

.container .three.columns { width: 160px; }

.container .four.columns { width: 220px; }

.container .five.columns { width: 280px; }

.container .six.columns { width: 340px; }

.container .seven.columns { width: 400px; }

.container .eight.columns { width: 460px; }

.container .nine.columns { width: 520px; }

.container .ten.columns { width: 580px; }

.container .eleven.columns { width: 640px; }

.container .twelve.columns { width: 700px; }

.container .thirteen.columns { width: 760px; }

.container .fourteen.columns { width: 820px; }

.container .fifteen.columns { width: 880px; }

.container .sixteen.columns { width: 940px; }

.container .one-third.column { width: 300px; }

.container .two-thirds.column { width: 620px; }

/* Offsets */
.container .offset-by-one { padding-left: 60px; }

.container .offset-by-two { padding-left: 120px; }

.container .offset-by-three { padding-left: 180px; }

.container .offset-by-four { padding-left: 240px; }

.container .offset-by-five { padding-left: 300px; }

.container .offset-by-six { padding-left: 360px; }

.container .offset-by-seven { padding-left: 420px; }

.container .offset-by-eight { padding-left: 480px; }

.container .offset-by-nine { padding-left: 540px; }

.container .offset-by-ten { padding-left: 600px; }

.container .offset-by-eleven { padding-left: 660px; }

.container .offset-by-twelve { padding-left: 720px; }

.container .offset-by-thirteen { padding-left: 780px; }

.container .offset-by-fourteen { padding-left: 840px; }

.container .offset-by-fifteen { padding-left: 900px; }

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) { .container { width: 768px; }
  .container .column, .container .columns { margin-left: 10px; margin-right: 10px; }
  .column.alpha, .columns.alpha { margin-left: 0; margin-right: 10px; }
  .column.omega, .columns.omega { margin-right: 0; margin-left: 10px; }
  .alpha.omega { margin-left: 0; margin-right: 0; }
  .container .one.column, .container .one.columns { width: 28px; }
  .container .two.columns { width: 76px; }
  .container .three.columns { width: 124px; }
  .container .four.columns { width: 172px; }
  .container .five.columns { width: 220px; }
  .container .six.columns { width: 268px; }
  .container .seven.columns { width: 316px; }
  .container .eight.columns { width: 364px; }
  .container .nine.columns { width: 412px; }
  .container .ten.columns { width: 460px; }
  .container .eleven.columns { width: 508px; }
  .container .twelve.columns { width: 556px; }
  .container .thirteen.columns { width: 604px; }
  .container .fourteen.columns { width: 652px; }
  .container .fifteen.columns { width: 700px; }
  .container .sixteen.columns { width: 748px; }
  .container .one-third.column { width: 236px; }
  .container .two-thirds.column { width: 492px; }
  /* Offsets */
  .container .offset-by-one { padding-left: 48px; }
  .container .offset-by-two { padding-left: 96px; }
  .container .offset-by-three { padding-left: 144px; }
  .container .offset-by-four { padding-left: 192px; }
  .container .offset-by-five { padding-left: 240px; }
  .container .offset-by-six { padding-left: 288px; }
  .container .offset-by-seven { padding-left: 336px; }
  .container .offset-by-eight { padding-left: 384px; }
  .container .offset-by-nine { padding-left: 432px; }
  .container .offset-by-ten { padding-left: 480px; }
  .container .offset-by-eleven { padding-left: 528px; }
  .container .offset-by-twelve { padding-left: 576px; }
  .container .offset-by-thirteen { padding-left: 624px; }
  .container .offset-by-fourteen { padding-left: 672px; }
  .container .offset-by-fifteen { padding-left: 720px; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) { .container { width: 300px; }
  .container .columns, .container .column { margin: 0; }
  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column { width: 300px; }
  /* Offsets */
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen { padding-left: 0; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) { .container { width: 420px; }
  .container .columns, .container .column { margin: 0; }
  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column { width: 420px; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before, .clearfix:after, .row:before, .row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.row:after, .clearfix:after { clear: both; }

.row, .clearfix { zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

@font-face { font-family: "FontAwesome"; src: url(/fonts/fontawesome-webfont.eot); src: url(/fonts/fontawesome-webfont.eot?#iefix) format('eot'), url(/fonts/fontawesome-webfont.woff) format('woff'), url(/fonts/fontawesome-webfont.ttf) format('truetype'), url(/fonts/fontawesome-webfont.otf) format('opentype'), url(/fonts/fontawesome-webfont.svgz#FontAwesomeRegular) format('svg'), url(/fonts/fontawesome-webfont.svg#FontAwesomeRegular) format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: "GandhiSansRegular"; src: url(/fonts/GandhiSans-Regular-webfont.eot) format('opentype'), url(/fonts/GandhiSans-Regular-webfont.woff) format('woff'), url(/fonts/GandhiSans-Regular-webfont.ttf) format('truetype'), url(/fonts/GandhiSans-Regular-webfont.svg#GandhiSansRegular) format('svg'); }

@font-face { font-family: "GandhiSansItalic"; src: url(/fonts/GandhiSans-Italic-webfont.eot) format('opentype'), url(/fonts/GandhiSans-Italic-webfont.woff) format('woff'), url(/fonts/GandhiSans-Italic-webfont.ttf) format('truetype'), url(/fonts/GandhiSans-Italic-webfont.svg#GandhiSansItalic) format('svg'); }

@font-face { font-family: "GandhiSansBold"; src: url(/fonts/GandhiSans-Bold-webfont.eot) format('opentype'), url(/fonts/GandhiSans-Bold-webfont.woff) format('woff'), url(/fonts/GandhiSans-Bold-webfont.ttf) format('truetype'), url(/fonts/GandhiSans-Bold-webfont.svg#GandhiSansBold) format('svg'); }

/*  Font Awesome the iconic font designed for use with Twitter Bootstrap ------------------------------------------------------- The full suite of pictographic icons, examples, and documentation can be found at: http://fortawesome.github.com/Font-Awesome/
 License ------------------------------------------------------- The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0: http://creativecommons.org/licenses/by/3.0/ A mention of 'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable source code is considered acceptable attribution (most common on the web). If human readable source code is not available to the end user, a mention in an 'About' or 'Credits' screen is considered acceptable (most common in desktop or mobile software).
 Contact ------------------------------------------------------- Email: dave@davegandy.com Twitter: http://twitter.com/fortaweso_me Work: Lead Product Designer @ http://kyruus.com
 */
/*  Font Awesome styles ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: FontAwesome; font-weight: normal; font-style: normal; display: inline-block; text-decoration: inherit; }

a [class^="icon-"], a [class*=" icon-"] { display: inline-block; text-decoration: inherit; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before { vertical-align: middle; font-size: 4/3em; }

.btn [class^="icon-"], .btn [class*=" icon-"], .nav-tabs [class^="icon-"], .nav-tabs [class*=" icon-"] { /* keeps button heights with and without icons the same */ line-height: .9em; }

li [class^="icon-"], li [class*=" icon-"] { display: inline-block; width: 1.25em; text-align: center; }
li .icon-large:before, li .icon-large:before { /* 1.5 increased font size for icon-large * 1.25 width */ width: 1.875em; }

ul.icons { list-style-type: none; margin-left: 2em; text-indent: -0.8em; }
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] { width: .8em; }
ul.icons li .icon-large:before, ul.icons li .icon-large:before { /* 1.5 increased font size for icon-large * 1.25 width */ vertical-align: initial; }

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */
.icon-glass:before { content: "\f000"; }

.icon-music:before { content: "\f001"; }

.icon-search:before { content: "\f002"; }

.icon-envelope:before { content: "\f003"; }

.icon-heart:before { content: "\f004"; }

.icon-star:before { content: "\f005"; }

.icon-star-empty:before { content: "\f006"; }

.icon-user:before { content: "\f007"; }

.icon-film:before { content: "\f008"; }

.icon-th-large:before { content: "\f009"; }

.icon-th:before { content: "\f00a"; }

.icon-th-list:before { content: "\f00b"; }

.icon-ok:before { content: "\f00c"; }

.icon-remove:before { content: "\f00d"; }

.icon-zoom-in:before { content: "\f00e"; }

.icon-zoom-out:before { content: "\f010"; }

.icon-off:before { content: "\f011"; }

.icon-signal:before { content: "\f012"; }

.icon-cog:before { content: "\f013"; }

.icon-trash:before { content: "\f014"; }

.icon-home:before { content: "\f015"; }

.icon-file:before { content: "\f016"; }

.icon-time:before { content: "\f017"; }

.icon-road:before { content: "\f018"; }

.icon-download-alt:before { content: "\f019"; }

.icon-download:before { content: "\f01a"; }

.icon-upload:before { content: "\f01b"; }

.icon-inbox:before { content: "\f01c"; }

.icon-play-circle:before { content: "\f01d"; }

.icon-repeat:before { content: "\f01e"; }

/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before { content: "\f021"; }

.icon-list-alt:before { content: "\f022"; }

.icon-lock:before { content: "\f023"; }

.icon-flag:before { content: "\f024"; }

.icon-headphones:before { content: "\f025"; }

.icon-volume-off:before { content: "\f026"; }

.icon-volume-down:before { content: "\f027"; }

.icon-volume-up:before { content: "\f028"; }

.icon-qrcode:before { content: "\f029"; }

.icon-barcode:before { content: "\f02a"; }

.icon-tag:before { content: "\f02b"; }

.icon-tags:before { content: "\f02c"; }

.icon-book:before { content: "\f02d"; }

.icon-bookmark:before { content: "\f02e"; }

.icon-print:before { content: "\f02f"; }

.icon-camera:before { content: "\f030"; }

.icon-font:before { content: "\f031"; }

.icon-bold:before { content: "\f032"; }

.icon-italic:before { content: "\f033"; }

.icon-text-height:before { content: "\f034"; }

.icon-text-width:before { content: "\f035"; }

.icon-align-left:before { content: "\f036"; }

.icon-align-center:before { content: "\f037"; }

.icon-align-right:before { content: "\f038"; }

.icon-align-justify:before { content: "\f039"; }

.icon-list:before { content: "\f03a"; }

.icon-indent-left:before { content: "\f03b"; }

.icon-indent-right:before { content: "\f03c"; }

.icon-facetime-video:before { content: "\f03d"; }

.icon-picture:before { content: "\f03e"; }

.icon-pencil:before { content: "\f040"; }

.icon-map-marker:before { content: "\f041"; }

.icon-adjust:before { content: "\f042"; }

.icon-tint:before { content: "\f043"; }

.icon-edit:before { content: "\f044"; }

.icon-share:before { content: "\f045"; }

.icon-check:before { content: "\f046"; }

.icon-move:before { content: "\f047"; }

.icon-step-backward:before { content: "\f048"; }

.icon-fast-backward:before { content: "\f049"; }

.icon-backward:before { content: "\f04a"; }

.icon-play:before { content: "\f04b"; }

.icon-pause:before { content: "\f04c"; }

.icon-stop:before { content: "\f04d"; }

.icon-forward:before { content: "\f04e"; }

.icon-fast-forward:before { content: "\f050"; }

.icon-step-forward:before { content: "\f051"; }

.icon-eject:before { content: "\f052"; }

.icon-chevron-left:before { content: "\f053"; }

.icon-chevron-right:before { content: "\f054"; }

.icon-plus-sign:before { content: "\f055"; }

.icon-minus-sign:before { content: "\f056"; }

.icon-remove-sign:before { content: "\f057"; }

.icon-ok-sign:before { content: "\f058"; }

.icon-question-sign:before { content: "\f059"; }

.icon-info-sign:before { content: "\f05a"; }

.icon-screenshot:before { content: "\f05b"; }

.icon-remove-circle:before { content: "\f05c"; }

.icon-ok-circle:before { content: "\f05d"; }

.icon-ban-circle:before { content: "\f05e"; }

.icon-arrow-left:before { content: "\f060"; }

.icon-arrow-right:before { content: "\f061"; }

.icon-arrow-up:before { content: "\f062"; }

.icon-arrow-down:before { content: "\f063"; }

.icon-share-alt:before { content: "\f064"; }

.icon-resize-full:before { content: "\f065"; }

.icon-resize-small:before { content: "\f066"; }

.icon-plus:before { content: "\f067"; }

.icon-minus:before { content: "\f068"; }

.icon-asterisk:before { content: "\f069"; }

.icon-exclamation-sign:before { content: "\f06a"; }

.icon-gift:before { content: "\f06b"; }

.icon-leaf:before { content: "\f06c"; }

.icon-fire:before { content: "\f06d"; }

.icon-eye-open:before { content: "\f06e"; }

.icon-eye-close:before { content: "\f070"; }

.icon-warning-sign:before { content: "\f071"; }

.icon-plane:before { content: "\f072"; }

.icon-calendar:before { content: "\f073"; }

.icon-random:before { content: "\f074"; }

.icon-comment:before { content: "\f075"; }

.icon-magnet:before { content: "\f076"; }

.icon-chevron-up:before { content: "\f077"; }

.icon-chevron-down:before { content: "\f078"; }

.icon-retweet:before { content: "\f079"; }

.icon-shopping-cart:before { content: "\f07a"; }

.icon-folder-close:before { content: "\f07b"; }

.icon-folder-open:before { content: "\f07c"; }

.icon-resize-vertical:before { content: "\f07d"; }

.icon-resize-horizontal:before { content: "\f07e"; }

.icon-bar-chart:before { content: "\f080"; }

.icon-twitter-sign:before { content: "\f081"; }

.icon-facebook-sign:before { content: "\f082"; }

.icon-camera-retro:before { content: "\f083"; }

.icon-key:before { content: "\f084"; }

.icon-cogs:before { content: "\f085"; }

.icon-comments:before { content: "\f086"; }

.icon-thumbs-up:before { content: "\f087"; }

.icon-thumbs-down:before { content: "\f088"; }

.icon-star-half:before { content: "\f089"; }

.icon-heart-empty:before { content: "\f08a"; }

.icon-signout:before { content: "\f08b"; }

.icon-linkedin-sign:before { content: "\f08c"; }

.icon-pushpin:before { content: "\f08d"; }

.icon-external-link:before { content: "\f08e"; }

.icon-signin:before { content: "\f090"; }

.icon-trophy:before { content: "\f091"; }

.icon-github-sign:before { content: "\f092"; }

.icon-upload-alt:before { content: "\f093"; }

.icon-lemon:before { content: "\f094"; }

.icon-phone:before { content: "\f095"; }

.icon-check-empty:before { content: "\f096"; }

.icon-bookmark-empty:before { content: "\f097"; }

.icon-phone-sign:before { content: "\f098"; }

.icon-twitter:before { content: "\f099"; }

.icon-facebook:before { content: "\f09a"; }

.icon-github:before { content: "\f09b"; }

.icon-unlock:before { content: "\f09c"; }

.icon-credit-card:before { content: "\f09d"; }

.icon-rss:before { content: "\f09e"; }

.icon-hdd:before { content: "\f0a0"; }

.icon-bullhorn:before { content: "\f0a1"; }

.icon-bell:before { content: "\f0a2"; }

.icon-certificate:before { content: "\f0a3"; }

.icon-hand-right:before { content: "\f0a4"; }

.icon-hand-left:before { content: "\f0a5"; }

.icon-hand-up:before { content: "\f0a6"; }

.icon-hand-down:before { content: "\f0a7"; }

.icon-circle-arrow-left:before { content: "\f0a8"; }

.icon-circle-arrow-right:before { content: "\f0a9"; }

.icon-circle-arrow-up:before { content: "\f0aa"; }

.icon-circle-arrow-down:before { content: "\f0ab"; }

.icon-globe:before { content: "\f0ac"; }

.icon-wrench:before { content: "\f0ad"; }

.icon-tasks:before { content: "\f0ae"; }

.icon-filter:before { content: "\f0b0"; }

.icon-briefcase:before { content: "\f0b1"; }

.icon-fullscreen:before { content: "\f0b2"; }

.icon-group:before { content: "\f0c0"; }

.icon-link:before { content: "\f0c1"; }

.icon-cloud:before { content: "\f0c2"; }

.icon-beaker:before { content: "\f0c3"; }

.icon-cut:before { content: "\f0c4"; }

.icon-copy:before { content: "\f0c5"; }

.icon-paper-clip:before { content: "\f0c6"; }

.icon-save:before { content: "\f0c7"; }

.icon-sign-blank:before { content: "\f0c8"; }

.icon-reorder:before { content: "\f0c9"; }

.icon-list-ul:before { content: "\f0ca"; }

.icon-list-ol:before { content: "\f0cb"; }

.icon-strikethrough:before { content: "\f0cc"; }

.icon-underline:before { content: "\f0cd"; }

.icon-table:before { content: "\f0ce"; }

.icon-magic:before { content: "\f0d0"; }

.icon-truck:before { content: "\f0d1"; }

.icon-pinterest:before { content: "\f0d2"; }

.icon-pinterest-sign:before { content: "\f0d3"; }

.icon-google-plus-sign:before { content: "\f0d4"; }

.icon-google-plus:before { content: "\f0d5"; }

.icon-money:before { content: "\f0d6"; }

.icon-caret-down:before { content: "\f0d7"; }

.icon-caret-up:before { content: "\f0d8"; }

.icon-caret-left:before { content: "\f0d9"; }

.icon-caret-right:before { content: "\f0da"; }

.icon-columns:before { content: "\f0db"; }

.icon-sort:before { content: "\f0dc"; }

.icon-sort-down:before { content: "\f0dd"; }

.icon-sort-up:before { content: "\f0de"; }

.icon-envelope-alt:before { content: "\f0e0"; }

.icon-linkedin:before { content: "\f0e1"; }

.icon-undo:before { content: "\f0e2"; }

.icon-legal:before { content: "\f0e3"; }

.icon-dashboard:before { content: "\f0e4"; }

.icon-comment-alt:before { content: "\f0e5"; }

.icon-comments-alt:before { content: "\f0e6"; }

.icon-bolt:before { content: "\f0e7"; }

.icon-sitemap:before { content: "\f0e8"; }

.icon-umbrella:before { content: "\f0e9"; }

.icon-paste:before { content: "\f0ea"; }

.icon-user-md:before { content: "\f200"; }

.icon-apple-logo:before { content: "\f500"; }

.icon-windows-8:before { content: "\f501"; }

.icon-js-fiddle:before { content: "\f502"; }

.icon-skype:before { content: "\f503"; }

.icon-youtube-sign:before { content: "\f504"; }

.icon-youtube:before { content: "\f505"; }

.icon-vimeo-sign:before { content: "\f506"; }

.icon-vimeo:before { content: "\f507"; }

.icon-lastfm-sign:before { content: "\f508"; }

.icon-lastfm:before { content: "\f509"; }

.icon-rss-sign:before { content: "\f50a"; }

.icon-reddit:before { content: "\f50b"; }

.icon-delicious-sign:before { content: "\f50c"; }

.icon-wordpress-sign:before { content: "\f50d"; }

.icon-wordpress:before { content: "\f50e"; }

.icon-git-fork:before { content: "\f50f"; }

.icon-blogger-sign:before { content: "\f510"; }

.icon-blogger:before { content: "\f511"; }

.icon-tumblr-sign:before { content: "\f512"; }

.icon-tumblr:before { content: "\f513"; }

.icon-flickr-sign:before { content: "\f514"; }

.icon-flickr:before { content: "\f515"; }

.icon-picasa-sign:before { content: "\f516"; }

.icon-picasa:before { content: "\f517"; }

.icon-amazon-sign:before { content: "\f518"; }

.icon-amazon:before { content: "\f519"; }

.icon-yelp-sign:before { content: "\f51a"; }

.icon-yelp:before { content: "\f51b"; }

.icon-soundcloud:before { content: "\f51c"; }

.icon-spotify:before { content: "\f51d"; }

.icon-yahoo-sign:before { content: "\f520"; }

.icon-yahoo:before { content: "\f521"; }

.icon-evernote-sign:before { content: "\f522"; }

.icon-evernote:before { content: "\f523"; }

.icon-google-sign:before { content: "\f524"; }

.icon-google:before { content: "\f525"; }

.icon-hacker-news:before { content: "\f526"; }

.icon-map:before { content: "\f529"; }

.icon-bus-sign:before { content: "\f52a"; }

.icon-bike-sign:before { content: "\f52b"; }

.icon-car-sign:before { content: "\f52c"; }

.icon-taxi-sign:before { content: "\f52d"; }

.icon-truck-sign:before { content: "\f52e"; }

.icon-handicap-sign:before { content: "\f52f"; }

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; background: transparent url(/images/template/grid-18px-masked.png) repeat-x 0 0; border-top: 5px solid red; }

h1, h2, h3, h4, h5, h6, .logo, .callout { font-family: "GandhiSansRegular", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif; font-weight: normal; }

a { color: black; }
a:visited { color: black; }
a:focus { color: black; }
a:hover { color: red; }
a:active { color: red; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.text-right { text-align: right !important; }

.text-left { text-align: left !important; }

.text-center { text-align: center; }

.container { margin-top: 40px; }

nav ul li { display: inline-block; margin: 0 0 0 20px; font-size: 14px; }

header .logo { font-size: 40px; }
header .logo i { font-size: 20px; margin: 0 15px 0 0; color: red; }
header .logo .superscript { display: inline-block; color: #AAA; font-size: 20px; margin: -10px 0 0 5px; vertical-align: top; }
header a { text-decoration: none; }

h1 { font-size: 28px; line-height: 40px; margin-bottom: 10px; }

h2 { font-size: 21px; line-height: 34px; margin-bottom: 8px; }

h3 { font-size: 17px; line-height: 30px; margin-bottom: 4px; }

h4 { font-size: 14px; line-height: 24px; margin-bottom: 1px; }

h5 { font-size: 13px; line-height: 21px; }

h6 { font-size: 12px; line-height: 18px; }

.callout { font-size: 180%; line-height: normal; }

.hero { position: relative; background: transparent url(/images/template/hero.jpg) center center no-repeat; background-size: cover; height: 400px; padding: 20px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
.hero .title-wrapper { background-color: #EEEEEE; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; padding: 10px; position: absolute; bottom: 10px; right: 10px; width: 200px; }
.hero .title-wrapper h1 { color: #000000; }

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { header { text-align: center; }
  header nav ul.text-right { text-align: center !important; }
  header nav ul li { margin-top: 15px; } }
