body {
  font-family: $base-family;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6, .logo , .callout{
  font-family: $header-family, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center;
}
.container {
  margin-top: 40px;
}
nav ul li {
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 14px;
}
header {
  .logo {
    font-size: 40px;

    i {
      font-size: 20px;
      margin: 0 15px 0 0;
      color: red;
    }
  }
  a {
    text-decoration: none;
  }
}
h1 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 10px;
}
h2 {
  font-size: 21px;
  line-height: 34px;
  margin-bottom: 8px;
}
h3 {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 4px;
}
h4 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 1px;
}
h5 {
  font-size: 13px;
  line-height: 21px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
}
.callout {
  font-size: 180%;
  line-height: normal;
}
.hero {
  position: relative;
  background-color: #EEEEEE;
  height: 400px;
  @include border-radius(15px);

  h1 {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 200px;
    color: #555555;
  }
}
